{
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens":"always",
  "endOfLine":"crlf",
  "bracketSpacing":true,
  "semi":true,
  "proseWrap":"never",
  "htmlWhitespaceSensitivity":"strict",
  "trailingComma":"es5"
}
