const path = require('path');
const fs = require('fs');
const prettier = require('prettier');

function resolveSrc(_path) {
  return path.join(__dirname, _path);
}

const aliases = {
  '@assets': 'src/assets',
  '@src': 'src',
  '@pages': 'src/pages',
  '@layouts': 'src/layouts',
  '@components': 'src/components',
  '@assets': 'src/assets',
  '@auth': 'src/auth',
  '@controls': 'src/controls',
  '@utils': 'src/utils',
  '@plugins': 'src/plugins',
  '@services': 'src/services',
  '@store': 'src/store',
  '@views': 'src/views',
  '@e2e': 'tests/e2e',
};

module.exports = {
  webpack: {},
  appSettings: {},
};

for (const key in process.env) {
  if (key.startsWith('VUE_APP_')) {
    module.exports.appSettings[key] = process.env[key];
  }
}

for (const alias in aliases) {
  module.exports.webpack[alias] = resolveSrc(aliases[alias]);
}

const appSetingsTemplate = require('./app-settings.template') || {};
const appSettingsPath = path.resolve(__dirname, './public/app-settings.json');

fs.writeFile(
  appSettingsPath,
  prettier.format(
    JSON.stringify({
      ...appSetingsTemplate,
      generated: new Date(),
      settings: module.exports.appSettings,
    }),
    {
      ...require('./.prettierrc'),
      parser: 'json',
    }
  ),
  (error) => {
    if (error) {
      console.error(
        'Error while creating app-settings.json from aliases.config.js.'
      );
      throw error;
    }
  }
);
